
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<form action = "/AddCustomer"  name ="newCustomer" method ="post">
    <input  name = "firstname" placeholder="First Name"/>
    <input  name = "lastname" placeholder="Last Name"/>
    <input type = "phone" name = "phoneNumber" placeholder="Phone number"/>
    <input type = "email" name = "email" placeholder="Email"/>
    <input type = "submit" value ="Submit"/>

</form>

</body>
</html>